.footer-bg {
  height: auto;
  background-color: var(--gray-50);
  border-top: 1px solid var(--gray-200);
}

.footer {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  padding-bottom: 10px;
  gap: 20px;
}

.footer h1 {
  padding-top: 40px;
  text-transform: capitalize;
  padding-bottom: 10px;
}
.footer-info {
  display: flex;
  flex-direction: column;
}
.footer-map-site {
  display: flex;
  flex-direction: column;
}

.footer-map-site a,
.footer-info a {
  padding-bottom: 5px;
}
.maps {
  width: 100%;
  height: 200px;
}
.footer-info a {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-app img {
  width: 150px;
  padding: 2px 0;
}

.footer-social {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  gap: 20px;
}

.copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #222;
  padding: 10px;
}

.copyright p {
  text-align: center;
  letter-spacing: 2px;
}
.copyright a {
  transition: 0.3s all;
}

.copyright a:hover {
  color: var(--yellow-900);
}

.whatsapp-float {
  position: fixed;
  display: flex;
  bottom: 50px;
  right: 40px;
  transform: translateY(0px);
  transition: 0.3s ease-in-out;
  cursor: pointer;
  z-index: 9999;
}
.whatsapp-float:hover {
  transform: translateY(-5px);
  transition: 0.5s ease-in-out;
}

@media screen and (max-width: 900px) {
  .footer {
    grid-template-columns: 1fr;
  }
  .footer-app-img {
    display: flex;
    justify-content: flex-start;
  }
  .footer-app img {
    padding: 5px;
  }
}
@media screen and (max-width: 500px) {
  .footer-app-img {
    justify-content: space-evenly;
  }
  .whatsapp-float {
    bottom: 50px;
    right: 20px;
  }
}
