.footer-bg {
  height: auto;
  background-color: #fff;
  border-top: 1px solid var(--gray-200);
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer h1 {
  padding-top: 40px;
  text-transform: capitalize;
  padding-bottom: 10px;
}
.footer-info {
  display: flex;
  flex-direction: column;
}
.footer-info a {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer-app img {
  width: 150px;
}

.footer-social {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  gap: 20px;
}

.copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #222;
  padding: 10px;
}

.copyright p {
  text-align: center;
  letter-spacing: 2px;
}
.copyright a {
  transition: 0.3s all;
}

.copyright a:hover {
  color: var(--yellow-900);
}

@media screen and (max-width: 900px) {
  .footer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 700px) {
  .footer {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 500px) {
  .footer {
    grid-template-columns: 1fr;
  }
} ;
