.header-bg {
  position: fixed;
  width: 100%;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid var(--gray-200);
  box-shadow: 0px 10px 10px -15px rgba(0, 0, 0, 0.2);
  height: 70px;
  z-index: 50;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

/* .navmenu-logo {
  padding: 15px 0;
  z-index: 51;
} */
.navmenu-logo {
  background-image: url("../src/img/pxconnect-logo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  width: 200px;
  height: 100%;
  z-index: 51;
}
.nav-menu-main {
  display: flex;
}

.nav-menu ul {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-menu li {
  transition: 0.2s all linear;
}
.nav-menu li:hover {
  color: var(--yellow-900);
}
.sidebar,
.sidebar-button {
  display: none;
}

@media screen and (max-width: 800px) {
  .header-bg {
    height: 60px;
  }
  .sidebar {
    z-index: 52;
  }

  .navmenu-logo {
    width: 150px;
  }

  .nav-menu .nav-menu-main {
    display: none;
  }
  .nav-menu .sidebar,
  .nav-menu .sidebar-button {
    display: block;
    position: relative;
  }
  .sidebar-button {
    height: calc(100% - 20px);
    padding: 10px 0;
  }
  .close-btn {
    z-index: 53;
  }

  .sidebar-button:active {
    transform: scale(0.95);
  }
  .sidebar ul {
    position: fixed;
    background-color: var(--gray-100);
    border: 1px solid var(--gray-300);
    border-radius: 0 0 0 20px;
    box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.2);
    top: 0;
    right: 0px;
    flex-direction: column;
    height: max-content;
    width: 250px;
    gap: 40px;
    padding: 60px 0;
    transform: translateX(100%);
    transition: 0.2s all linear;
  }
  .sidebar img {
    position: absolute;
    height: 45px;
    top: 10px;
    right: 20px;
    cursor: pointer;
  }
  .sidebar img:active {
    transform: scale(0.95);
  }
  .show-sidebar ul {
    transform: translateX(0%);
  }
}
