.video {
  background-color: #fff;
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -10;
  filter: grayscale(100%) invert(100%) brightness(100%);
  opacity: 0.2;
}

.intro-bg {
  box-shadow: inset 0px -88px 100px 0px #fff;
}

.title-bg {
  display: flex;
  align-items: center;
  height: 100vh;
}

.title-intro {
  width: max-content;
}
.title-intro h1 {
  padding-bottom: 10px;
}
.title-intro p {
  padding-bottom: 30px;
}

@media screen and (max-width: 600px) {
  .title-bg {
    height: 90vh;
  }
}

@media screen and (max-height: 500px) {
  .title-bg {
    height: 500px;
  }
  .video-container {
    height: 500px;
  }
}
