.plans-bg {
  padding-top: 80px;
  padding-bottom: 120px;
  background-color: var(--gray-100);
}

.plans-container {
  position: relative;
}

.plans-carrousel {
  display: flex;
  gap: 40px;
  padding: 40px 0;
  left: 0;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
}

.arrow-left,
.arrow-right {
  position: absolute;
  top: 40%;
  left: -10px;
  right: auto;
  bottom: 0;
  width: 40px;
  height: 40px;
  background-color: #ff512f;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  z-index: 40;
}

.arrow-right {
  right: -10px;
  left: auto;
}

.card {
  background-color: #fff;
  border: 1px solid var(--gray-200);
  border-radius: 15px;
  width: max-content;
  height: max-content;
  padding: 4px;
  box-shadow: 2px 10px 10px -5px rgba(0, 0, 0, 0.2);
  opacity: 0.8;
}

.current-item {
  opacity: 1;
}
.card:last-child {
  margin-right: 10px;
}
.card:first-child {
  margin-left: 10px;
}
.card-title {
  text-transform: uppercase;
  text-align: center;
}

.card-content {
  background-color: white;
  padding: 20px 30px;
  border-radius: 0 0 15px 15px;
}

.card-itens li {
  padding: 4px 0;
  white-space: nowrap;
}

.plans-carrousel::-webkit-scrollbar {
  display: none;
}

.card hr {
  border: 1px solid var(--gray-100);
  margin: 20px;
}

.card-title p {
  text-transform: uppercase;
}

.card-content li {
  display: flex;
  align-items: center;
}
.card-content li img {
  padding-right: 10px;
}

.card-footer {
  text-align: center;
}
.card-footer span {
  text-align: center;
  text-transform: uppercase;
}
.card-footer p {
  text-align: center;
  padding-bottom: 10px;
}

.card-footer button {
  text-align: center;
  padding: 10px 20px;
  width: max-content;
  margin: 0 auto;
}

.card-footer button:hover {
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 500px) {
  .card {
    opacity: 1;
  }
  .card:last-child {
    margin-right: 50px;
  }
  .card:first-child {
    margin-left: 50px;
  }
}

@media screen and (max-width: 380px) {
  .card {
    opacity: 1;
  }
  .card:last-child {
    margin-right: 30px;
  }
  .card:first-child {
    margin-left: 30px;
  }
}
